<!DOCTYPE html>
<html>
  <head>
    <title>PassaporteWeb2DemoApps</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= javascript_include_tag "#{ENV['NEXAAS_ID_URL']}/api/v1/widgets/navbar.js?access_token=#{access_token}" %>
  </head>

  <body class="fix-footer">
    <%= yield %>
  </body>
</html>
