<!DOCTYPE html>
<html>
  <head>
    <title>PassaporteWeb2DemoApps</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script>
      <%= passaporte_web_bar %>
    </script>
  </head>

  <body class="fix-footer">
    <%= yield %>
  </body>
</html>
